{% extends 'base.html.twig' %}

{% block body %}
    <h1>Modifier mon profil</h1>

    <form method="post">
        <label>Prénom :</label>
        <input type="text" name="firstname" value="{{ user.firstname }}" class="form-control">

        <label>Nom :</label>
        <input type="text" name="lastname" value="{{ user.lastname }}" class="form-control">

        <label>Email :</label>
        <input type="email" name="email" value="{{ user.email }}" class="form-control">

        <button type="submit" class="btn btn-primary mt-3">Enregistrer</button>
    </form>
{% endblock %}
