<footer class="bg-dark text-white text-center py-3 mt-5">
    <div class="container">
        <p>&copy; {{ "now"|date("Y") }} - PinBoard</p>
        <p>
            <a href="{{ path('app_home') }}" class="text-white text-decoration-none">Accueil</a> |
            <a href="{{ path('app_pin_index') }}" class="text-white text-decoration-none">Pins</a>
        </p>
    </div>
</footer>
